* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: #323232;
}

canvas {
  border-radius: 20px;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 512px;
  margin: auto;
}

button {
  position: relative;
  top: 30px;
  display: block;
  margin: auto;
  padding: 10px 20px;
  background: #9F2B68;
  border-radius: 15px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}